$reddish : #4d3636;
$headerdark : #301b1b;
$headerlight : #bebcbc;
$headergradient : #3f3939;

$graysh : #918787;
$lightgraysh : #ccc3c3;
$cardbg : rgba(205, 205, 205, 1);
$hswred : rgba(177, 37, 37, 0.8);
$textlight : #cac2c2;

$bgtransition : lightgray;//$reddish;
$bgfinal : white;// lightgray;//$lightgraysh;
$bgimageend : 800px;

$theme-colors: (primary: $graysh,
    secondary: #313131,
    info: darkred,
    text-secondary: #cecece,
    text-primary: #cecece,
);

$enable-rounded: false;
$grid-gutter-width : 20px;

$container-max-widths: (md: 720px,
    lg: 960px,
    xl: 1400px) !default;