$reddish : #4d3636;
$headerdark : #301b1b;
$headerlight : #bebcbc;
$headergradient : #3f3939;
$graysh : #918787;
$lightgraysh : #ccc3c3;
$graybg : #725f5f;
$cardbg : rgba(179, 177, 177, 0.95);
$cardbgnoa : rgba(201, 201, 201, 1);
$hswred : rgba(177, 37, 37, 0.8);
$textlight : #cac2c2;

$bgimageend : 700px;

$theme-colors: (primary: $graysh,
    secondary: #313131,
    info: darkred,//$graybg,
    text-secondary: #cecece,
    text-primary: #cecece,
);

$enable-rounded: false;
$grid-gutter-width : 20px;

$container-max-widths: (md: 720px,
    lg: 960px,
    xl: 1400px) !default;