@import "base";

footer {
    padding: 20px 50px 0px 50px;
    background-color: $cardbg;
    border-width: 2px;
    position: relative;
    box-shadow: 0 50vh 0 50vh $cardbg;
    font-size: initial !important;

    @media screen and (max-width : 960px) {
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

#poweredby {
    font-size: 12px;
    text-align: right;
    position: absolute;
    bottom: 2px;
    right: 2px;
}