@import "base";

img.logo {
    height: 90px;
    margin-bottom: 12px;

    @media screen and (max-width: 720px) {
        height: 60px;
    }
}

.navbar {
    $p1 : 24%;
    $p2 : 55%;
    $p3 : 100%;
    background: -moz-linear-gradient(165deg,  $headerlight $p1, $headergradient $p2, $headerdark $p3); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop($p1,$headerlight), color-stop($p2,$headergradient), color-stop($p3,$headerdark)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(165deg,  $headerlight $p1,$headergradient $p2,$headerdark $p3); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(165deg,  $headerlight $p1,$headergradient $p2,$headerdark $p3); /* Opera 11.10+ */
    background: -ms-linear-gradient(165deg,  $headerlight 24%, $headergradient 55%, $headerdark $p3); /* IE10+ */
    background: linear-gradient(165deg, $headerlight 24%, $headergradient 55%, $headerdark $p3); //#333232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d7e7d', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
    border-color: black !important;
    z-index: 9999;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

}

#navbar,
img.logo,
.nav-link {
    transition: 0.5s;
}

#navbar {
    padding: 4px 10px;
}

#brand {
    font-size: 10px;
    padding: 0px;
}

.navbar-nav {
    float: none;
    //margin: 0 auto;
    margin-right: 0px !important;
    margin-left: 50% !important;
    display: block;
    text-align: center;
}

.navbar-nav>li {
    display: inline-block;
    float: none;
}

nav {
    .navbar-brand {
        font-size: 56px;
    }


    .nav-item {
        margin-left: 32px !important;
        margin-right: 32px !important;
    }


    .navbar-collapse {
        align-self: flex-end;
    }

}

.nav-link {
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
    font-variant: small-caps;
    box-sizing: border-box;
}

.nav-link:after {
    content: '';
    display: block;
    border-bottom: 4px solid $textlight;
    width: 0;
    //position: absolute;
    //right: 0;
    -webkit-transition: 0s ease;
    transition: 0s ease;
}

.selected-nav-item {
    color : $textlight !important;
}
  
.selected-nav-item:after { 
    width: 100%; 
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}