@import "base";


#productfilter {
    padding: 0px 100px;
    min-height: 90%;

    @media screen and (max-width : 720px) {
        padding: 0 50px;
    }

    @media screen and (max-width : 480px) {
        padding: initial;
    }
}

#filter {
    border-width: 0px;
    border-width: 5px 0px 5px 0px;
    border-style: solid;
    border-color: darkred;

}

.accordion .card {
    border-radius: 15px 15px 0 0;
}

#filterheader {
    padding: 2px;
    border: gray solid;
    border-radius: 15px 15px 0px 0px;
    border-width: 3px 3px 0px 3px;

    .btn-link {
        color: darkred;
        font-variant: small-caps;
        font-weight: bold;
    }
}

.producticon {
    max-height: 200px;
    width: auto;
    margin: 16px;

    @media screen and (max-width : 720px) {
        position: relative;
        bottom: 5px;
        display: block;
        width: 100%;
        margin: auto;
        height: auto;
        max-height: 100%;
    }
}

.didascalia {
    border: solid darkgray;
    border-width: 0 0 0 4px;
    font-style: italic;
    margin-left: -10px;
    padding-left: 10px;
    font-size: 18px;
}


.productcard {
    border-width: 10px 0 0 0;

    .card-body {
        padding-bottom: 60px;
    }
}

.productinfo {
    height: 90%;
    padding-top: inherit;
    padding-bottom: inherit;
    position: relative;

    a {
        position: absolute;
        bottom: -10px;
        right: 10px;
    }
}

.accordioncheckbox {
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 10px;
    font-weight: 600;
    box-shadow: 1px 1px 2px $reddish;
    padding: 4px;

    label {
        margin-bottom: 0px;
    }

    input {
        margin: 6px;
    }
}

.tag {
    background-color: $lightgraysh;
    font-size: 12px;
    border: darkkhaki solid 2px;
    border-radius: 5px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
}

#infocatalogo {
    border-width: 10px 0 0 0;

    .card-body {
        padding-top: 10px;
    }

    margin-bottom: 30px;
}